---
layout: default
---

<article class="max-w-5xl mx-auto">
    <header class="mb-14">
        <h1 class="text-3xl text-center font-bold leading-normal mt-0 mb-3">{{ title }}</h1>
        <div class="text-center text-foreground/50">Published on {{ page.date | readableDate }}</div>
        {% if tags %}
        <div class="mt-3 text-center">
            {% for tag in tags %}
            <a href="{{ '/tags/' | url }}{{ tag }}"
                class="inline-block bg-primary/50 hover:bg-primary text-primary-foreground rounded-full px-3 py-1 text-sm font-medium m-0.5">#{{
                tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        {% if thumb %}
        <div class="mt-10 -mx-7 md:mx-0">
            <img class="w-full max-w-2xl mx-auto" src="{{ thumb | url }}" width="960" height="500"
                alt="This post thumbnail">
        </div>
        {% endif %}
    </header>
    <div id="content" class="prose max-w-none">
        {{ content | safe }}
    </div>
    {% if site.disqusShortname %}
    <div class="mt-10">
        {% if process.environment === "production" %}
        {% include "partials/disqus.njk" %}
        {% else %}
        <div class="italic">Disqus comments only available for production</div>
        {% endif %}
    </div>
    {% endif %}
</article>